<div class="d-flex justify-content-center" style="padding: 20px 0;">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            LOGIN
        </div>
        <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        [(ngModel)]="form.password" required>
                </div>
                <div class="alert alert-danger" [hidden]="!error">
                    {{error}}
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Ingresar</button>
            </form>

            <button type="button" class="login-with-google-btn" #loginRef>
                Sign in with Google
            </button>
            
        </div>
    </div>
</div>